
body,html{
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    align-items: center;
    padding: 0px 20px;
    height: 53px;
    position: fixed;
    top: 0;
    gap: 60vw;
    background-color: white;
    
}
nav .logo svg{
    width: 98px;
    height: 30px;
}
header{
    margin-bottom: 100px;
}
main{
    text-align: center;
}
.selling-online, .sell-anywhere , .grow-faster, .manage-simply{
    padding: 0px 40px;
    margin-top: 30px;
}
.selling-online h2, .sell-anywhere h2, .grow-faster h2, .manage-simply h2{
    font-size: 45px;
    color: #333333;
    padding: 0px 25px;
    letter-spacing: 1px;
}
.selling-online p , .sell-anywhere p, .fb-insta p, .grow-faster p, .manage-simply p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    color: #333333;
    line-height: 38px;
}
.selling-online button,.sell-anywhere button, .grow-faster button, .manage-simply button{
    background-color: #fae053;
    color: #000000;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px 50px;
    border: 1.5px solid black;
    border-radius: 16px;
    margin-bottom: 15px;
}
.selling-online label{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #797979;
    font-size: 18px;
}
.main-icons{
    display: flex;
    justify-content: center;
    margin-bottom: 160px;
    padding: 70px 40px;
}
.main-icons p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #797979;
    font-size: 18px;
}
.main-icons .crowd{
    position: relative;
    top: 100px;
}
.sell-anywhere h2, .sell-anywhere p,.grow-faster h2, .grow-faster p, .manage-simply h2, .manage-simply p{
    text-align: left;
    padding-left: 0px;
}
.sell-anywhere button{
    background-color: #f1b280;
    margin-bottom: 60px;
    width: 300px;
}
.fb-insta, .google, .fb,.payement, .shipping{
    text-align: left;
    padding: 30px 40px;
}
.story{
    background-color: #f1b280;
    margin: 30px;
    padding: 30px 50px;
    text-align: left;
    border-radius: 20px;
    border: 2px solid black;
}
.story p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    color: #333333;
    line-height: 35px;
}
.story h6{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.story .person{
    display: flex;
    align-items: center;
    gap: 20px;
}
.story .person img{
    width: 60px;
    height: 60px;
}

.grow-faster button{
    background-color: #68e5a2;
    width: 360px;
    border-radius: 30px;
    margin: 30px 0;
}
.google h6, .fb h6{
    font-size: 28px;
    margin: 15px 0;
}
.google p, .fb p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    color: #333333;
    line-height: 35px;
    margin: 0;
}
#Pamela-Strydom{
    background-color: #68e5a2;
}
.manage-simply button{
    width: 360px;
    background-color: rgb(57,91,224);
    color: white;
    border-radius: 30px;
    margin: 30px 0;
}
.payement h6, .shipping h6{
    font-size: 28px;
    margin: 15px 0;
}
.payement p, .shipping p, .around-world h2, .around-world p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    color: #333333;
    line-height: 35px;
    margin: 0;
}
#Benjamin-Scott{
    background-color: rgb(57,91,224);
    color: white;
}
#Benjamin-Scott p{
    color: white;
}
.cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2fr, 1fr, 1fr);
    gap: 20px;
}
.around-world{
    grid-row: 1/2;
    border: 2px solid black;
    border-radius: 20px;
    margin: 0px 26px;
    padding: 20px 40px;
    text-align: left;
    
}
.stats{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-evenly;
    margin: 30px 0px;
    
}
.stats p{
    font-size: 44px;
    font-weight: 800;
    color: black;
}
.stats span{
    font-size: 22px;
    font-weight: 400;
    margin-left: 50px;
}
